# Contract address to make the calls
GOERLI_CONTRACT_ADDRESS=""

# This represents the URL of the Ethereum Node
GOERLI_URL_ID= ""

# Contract address to make the calls
MUMBAI_CONTRACT_ADDRESS=""

# This represents the URL of the Polygon Node
MUMBAI_URL_ID= ""

# Account address of the user making the calls
ACCOUNT_ADDRESS=""

# Private key of the user making the calls
ACCOUNT_PRIVATE_KEY=""

# Number of confirmations for a successful transaction
NUMBER_CONFIRMATIONS=4

# Class_id and Asset_id of the Labor tokens
LABOR_TOKEN_CLASS_ID = 100
LABOR_TOKEN_ASSET_ID = 100

# Class_id and Asset_id of the challenge tokens
CHALLENGE_TOKEN_CLASS_ID = 110
CHALLENGE_TOKEN_ASSET_ID = 100

# The value of each token (Labor token + challenge token) that is equivalent to a Fula Token 
LABOR_TOKEN_VALUE = 1
CHALLENGE_TOKEN_VALUE = 1

# Class_id and Asset_id of the claimed tokens
CLAIMED_TOKEN_CLASS_ID = 120
CLAIMED_TOKEN_ASSET_ID = 100
