[package]
name = "sugarfunge-api"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["crates/*"]

[dependencies]
sugarfunge-api-types = { path = "crates/sugarfunge-api-types" }
env_logger = "0.8"
structopt = "0.3"
rand = "0.8.3"
hex = "0.4.3"
futures = "0.3"
crossbeam = "0.8"
actix = "0.13"
actix-web = "4.0"
actix-web-actors = "4.1"
actix-cors = "0.6.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
jsonrpsee-types = "0.5.1"
url = { version = "2", features = ["serde"] }
derive_more = { version = "0.99.0", default-features = false }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }
scale-info = { version = "2.0.0", features = ["bit-vec"] }

[dependencies.subxt]
git = "https://github.com/carloslopezandara/subxt.git"
branch = "feature/polkadot-v0.9.27"
#rev = "f92fc58ae22d3e55d121358d7a023b14e4e9c759"

[dependencies.sp-keyring]
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.27"
package = "sp-keyring"

[dependencies.sp-std]
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.27"
package = "sp-std"

[dependencies.sp-io]
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.27"
package = "sp-io"
features = []

[dependencies.sp-core]
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.27"
package = "sp-core"
features = ["full_crypto"]

[features]
default = ["std"]
std = ["codec/std", "scale-info/std"]
